@* Edit page *@

@model Post

<div class="container w-75 mx-auto">
    <h1>Edit Post</h1>
    @* UPDATE ACTION *@
@* ASP brings in text automatically no need for adding value *@


    <form asp-action="Update" asp-controller="Post" asp-route-postId="@Model.PostId" method="post" class="shadow p-3 rounded">
        @* section *@
        <div class="mb-3">
            <label asp-for="Topic"></label>
            <input asp-for="Topic" type="text" class="form-control"/>
            <span asp-validation-for="Topic" class="text-danger font-weight-bold"></span>
        </div>
        @* section *@
        <div class="mb-3">
            <label asp-for="Body"></label>
            <input asp-for="Body" type="text" class="form-control"/>
            <span asp-validation-for="Body" class="text-danger font-weight-bold"></span>
        </div>
        @* section *@
        <div class="mb-3">
            <label asp-for="ImageUrl"></label>
            <input asp-for="ImageUrl" type="text" class="form-control"/>
            <span asp-validation-for="ImageUrl" class="text-danger font-weight-bold"></span>
        </div>
    <button class="btn btn-outline-dark">Submit</button>



    </form>


</div>
